<head>
    <% if (config.analytics?.google_tag_manager) { %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= config.analytics.google_tag_manager %>');</script>
    <!-- End Google Tag Manager -->
    <% } %>

    <% if (config.analytics?.google_analytics) { %>
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.analytics.google_analytics %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= config.analytics.google_analytics %>');
    </script>
    <% } %>

    <% if (config.analytics?.google_ads) { %>
    <!-- Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= config.analytics.google_ads %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= config.analytics.google_ads %>');
    </script>
    <% } %>

    <% if (config.analytics?.microsoft_clarity) { %>
    <!-- Microsoft Clarity -->
    <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "<%= config.analytics.microsoft_clarity %>");
    </script>
    <% } %>

    <% if (config.analytics?.facebook_pixel) { %>
    <!-- Facebook Pixel -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '<%= config.analytics.facebook_pixel %>');
      fbq('track', 'PageView');
    </script>
    <% } %>

    <title><%= seo.fullTitle %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="<%= seo.description %>" />
    <meta name="keywords" content="<%= seo.keywords %>" />
    <meta name="author" content="<%= seo.author %>" />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="<%= seo.type %>" />
    <meta property="og:site_name" content="<%= constants.APP_NAME %>" />
    <meta property="og:title" content="<%= seo.fullTitle %>" />
    <meta property="og:description" content="<%= seo.description %>" />
    <meta property="og:image" content="<%- seo.image %>" />
    <meta property="og:url" content="<%= seo.canonicalUrl %>" />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="<%= seo.twitterHandle %>" />
    <meta name="twitter:creator" content="<%= seo.twitterHandle %>" />
    <meta name="twitter:title" content="<%= seo.fullTitle %>" />
    <meta name="twitter:description" content="<%= seo.description %>" />
    <meta property="twitter:image" content="<%- seo.image %>" />
    
    <!-- Canonical URL -->
    <link rel="canonical" href="<%= seo.canonicalUrl %>" />
    
    <!-- Favicon -->
    <link rel="icon" type="image/jpg" href="/profile-image" />
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/scrollbar.css">

    <!-- CSS -->
<% css.forEach(function(style) { %>
  <% if (style.isFile) { %>
    <style><%- style.content %></style>
  <% } else { %>
    <link rel="stylesheet" href="<%- style.src %>">
  <% } %>
<% }); %>

    <% if (path.includes('docs')) { %>
      <link rel="stylesheet" href="/css/docs.css">
    <% } %>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />

    <script src="/js/captcha.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

    <% if (locals.js && js.length > 0) { %>
      <% js.forEach(function(script) { %>
        <% if (script.isFile) { %>
          <script><%- script.content %></script>
        <% } else { %>
          <script src="<%- script.src %>"></script>
        <% } %>
      <% }); %>
  <% } %>
</head> 